    <%- include('components/header') %>
    <div class="container">
        <% if (blogs.length < 1){ %>
            <h1>No Posts</h1>
        <% } %>

       <% blogs.length > 0 && blogs.forEach((blog)=>{ %>
            <div class="card">
                <h2><%- blog.title %></h2>
                <h3><%- blog.subtitle %></h3>
                <p><%- blog.description.slice(0,100) %></p>
                <a href="/single/<%- blog.id %>">Read More</a>
            </div>
      <%  }) %>
        
    </div>

    <%- include('components/footer') %>

