<%- include('components/header') %>

    <div class="container2">
        <div class="author-info">
     
            <div class="author-name"><h1><%- blogs[0].title %></h1></div>
        </div>
        <div class="author-name"><h3><%- blogs[0].subtitle %></h3></div>

        <div class="post-content">
            <%- blogs[0].description %>
        </div>

        <div class="post-footer">
            <small><i>
                Published on: <%- blogs[0].createdAt.toISOString().slice(0,10) %> &nbsp; | &nbsp;
                Last Updated on: <%- blogs[0].updatedAt.toISOString().slice(0,10) %>
            </i</small>
            <br />
            <button><a href="/delete/<%- blogs[0].id %>">Delete</a></button>
            <button><a href="/edit/<%- blogs[0].id %>">Edit</a></button>
        </div>
    </div>

    <%- include('components/footer') %>
